{% extends 'base.html' %}

{% load static %}

{% block customcss %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

<body>
{% block header %}
<header class="w-full bg-blue-400">
   <div class="md:flex justify-between items-center p-4 md:p-6 lg:p-8 w-full md:w-10/12 mx-auto">
       <h1 class="font-bold text-white text-2xl md:text-4xl text-center md:text-left w-auto mb-4 md:mb-0">SNS</h1>
       <nav>
           <ul class="flex justify-center md:justify-between">
               <li class="ml-4 text-white hover:text-blue-500 font-semibold text-sm md:text-base"><a href="{% url 'list' %}">みんなの投稿</a></li>
               <li class="ml-4 text-white hover:text-blue-500 font-semibold text-sm md:text-base"><a href="{% url 'logout' %}">ログアウト</a></li>
           </ul>
       </nav>
   </div>
</header>
{% endblock header %}

{% block content %} 
{% if user.is_authenticated %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 w-full md:w-3/4 mx-auto">
      <div class="flex flex-wrap -m-4">
        {% for item in object_list %}
          <div class="w-full md:w-1/2 mx-auto p-4">
              <div class="bg-gray-100 p-6 rounded-lg sns_posts">
                  <h3 class="tracking-widest text-blue-500 text-base font-medium title-font mb-1">投稿者:{{ item.author }}</h3>
                  <h2 class="text-xl text-gray-900 font-medium title-font mb-4">タイトル:{{ item.title }}</h2>
                  <div class="flex justify-between">
                    <div class="flex">
                      <a href="#" class="inline-block mr-2 bg-pink-500 hover:bg-pink-400 text-white text-sm py-2 px-4 rounded">いいね：３</a>
                      <a href="#" class="inline-block mr-2 bg-indigo-500 hover:bg-indigo-400 text-white text-sm py-2 px-4 rounded">閲覧数：３</a>
                    </div>
                      <a href="{% url 'detail' item.pk %}" class="inline-block mr-2 bg-green-500 hover:bg-green-400 text-white text-sm py-2 px-4 rounded">詳細を見る ＞</a>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
{% else %}
<h3 class=" text-red-500 2xl font-bold py-4">ログインしてください</h3>
{% endif %}
  </div>
  </section>

{% endblock content %}
</body>